#app {
  align-items: center;
}
body {
  align-items: center;
  text-align: center;
}
.data {
  margin-top: 1rem;
}
.btn {
  height: 2rem;
  background: black;
  color: rgb(192, 110, 255)
}
.number {
  font-weight: bold;
  color:rgb(0, 110, 255);
}